In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine, text

PGHOST = os.getenv("PGHOST")
PGPORT = os.getenv("PGPORT", "5432")
PGDB = os.getenv("PGDATABASE")
PGUSER = os.getenv("PGUSER")
PGPASS = os.getenv("PGPASSWORD")
PGSSL = os.getenv("PGSSLMODE", "require")

engine = create_engine(
    f"postgresql+psycopg2://{PGUSER}:{PGPASS}@{PGHOST}:{PGPORT}/{PGDB}"
    + (f"?sslmode={PGSSL}" if PGSSL else "")
)

with engine.begin() as con:
    print("Connection successful.")
    print("search_path =", con.execute(text("show search_path")).scalar())
    print("who/where   =",
          con.execute(text("select current_database(), current_user")).fetchone())

# Test by reading from the 'stg.claim' table, which is already loaded
print("\nVerifying data in stg.claim...")
df_check = pd.read_sql("SELECT * FROM stg.claim LIMIT 5", engine)
display(df_check)

Connection successful.
search_path = stg, mart, public
who/where   = ('jet2_holiday', 'dbmasteruser')

Verifying data in stg.claim...

,claim_number,subrogation,claim_est_payout,liab_prct,claim_date,claim_day_of_week,channel,zip_code,witness_present_ind,policy_report_filed_ind,in_network_bodyshop,accident_key,policyholder_key,vehicle_key,driver_key
0,6090851,1.0,3218.84,31.0,12/4/2016,Saturday,Broker,80040.0,Y,1.0,no,1.0,1.0,1.0,1.0
1,4653734,0.0,1338.52,34.0,4/25/2015,Wednesday,Phone,80030.0,N,1.0,yes,1.0,2.0,2.0,2.0
2,1014777,0.0,3540.05,39.0,6/22/2015,Thursday,Broker,50012.0,N,1.0,yes,2.0,3.0,3.0,3.0
3,8101873,1.0,1507.94,32.0,3/2/2015,Saturday,Phone,20138.0,N,1.0,yes,2.0,4.0,4.0,4.0
4,5081870,0.0,5080.63,28.0,1/12/2016,Sunday,Online,50033.0,N,0.0,yes,3.0,5.0,5.0,5.0