In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine
import sys

print("Starting data load script...")

# --- 1. Establish Database Connection ---
# Load connection details from environment variables
# These are securely stored in the .devcontainer/.env file
PGHOST = os.getenv("PGHOST")
PGPORT = os.getenv("PGPORT", "5432")  # Default to 5432 if not set
PGDB = os.getenv("PGDATABASE")
PGUSER = os.getenv("PGUSER")
PGPASS = os.getenv("PGPASSWORD")
PGSSL = os.getenv("PGSSLMODE", "require")  # Default to 'require' for RDS

# --- Sanity Check ---
# Verify that all necessary environment variables were loaded
if not all([PGHOST, PGDB, PGUSER, PGPASS]):
    print("ERROR: Database environment variables are not set.")
    print("Please check your .devcontainer/.env file and rebuild the container.")
    # Exit the script if connection details are missing
    sys.exit(1)

print(f"Connecting to {PGUSER}@{PGHOST}:{PGPORT}/{PGDB}...")

try:
    # Create the database connection string
    # Format: "postgresql+driver://user:password@host:port/database?sslmode=..."
    connection_string = (
        f"postgresql+psycopg2://{PGUSER}:{PGPASS}@{PGHOST}:{PGPORT}/{PGDB}"
        + (f"?sslmode={PGSSL}" if PGSSL else "")
    )

    # Create the SQLAlchemy engine, which manages connections
    engine = create_engine(connection_string)

    # Test the connection by opening a context
    with engine.connect() as con:
        print("Connection successful.")

except Exception as e:
    # If connection fails, print the error and exit
    print(f"ERROR: Could not connect to database.")
    print(e)
    sys.exit(1)

Starting data load script...
Connecting to dbmasteruser@ls-56e0e6c1fb3506f3b9ee56f44ff2b9c804031cfd.c49qe0yao7zm.us-east-1.rds.amazonaws.com:5432/jet2_holiday...
Connection successful.

In [2]:
# --- 2. Define Files to Load ---
# Create a list of tuples.
# Each tuple contains: (relative_file_path, target_sql_table_name)
# The file path assumes the notebook is running from the 'notebooks/' directory.
files_to_load = [
    ("../data/tri_guard_5_py_clean/Claim.csv", "claim"),
    ("../data/tri_guard_5_py_clean/Accident.csv", "accident"),
    ("../data/tri_guard_5_py_clean/Policyholder.csv", "policyholder"),
    ("../data/tri_guard_5_py_clean/Vehicle.csv", "vehicle"),
    ("../data/tri_guard_5_py_clean/Driver.csv", "driver")
]

In [ ]:
# --- 3. Loop and Load Data to 'stg' Schema ---
print("\nStarting data import...")
target_schema = "stg"  # Define the target schema created by the bootstrap SQL

for file_path, table_name in files_to_load:
    try:
        print(f"  Loading {file_path}...")

        # Read the source CSV file into a pandas DataFrame
        df = pd.read_csv(file_path)

        print(
            f"    -> Writing {len(df)} rows to {target_schema}.{table_name}...")

        # Use pandas .to_sql() method to write the DataFrame to Postgres
        df.to_sql(
            table_name,          # The name of the SQL table to create/replace
            engine,              # The SQLAlchemy engine to use
            schema='stg',        # Specify the target schema (e.g., 'stg')
            # If the table exists, drop it and recreate it.
            if_exists='replace',
                                 # This makes the script idempotent (runnable multiple times).
            index=False          # Do not write the pandas DataFrame index as a SQL column
        )
        print(f"  SUCCESS: {target_schema}.{table_name} created.")

    except FileNotFoundError:
        # Handle cases where the source CSV file is missing
        print(f"  ERROR: File not found at {file_path}. Skipping.")
    except Exception as e:
        # Handle all other errors (e.g., SQL permissions, data type issues)
        print(f"  ERROR: Failed to load {table_name}. Reason: {e}")

print("\n--- Data loading process finished. ---")

Starting data import...
  Loading ../data/tri_guard_5_py_clean/Claim.csv...
    -> Writing 18001 rows to stg.claim...
  SUCCESS: stg.claim created.
  Loading ../data/tri_guard_5_py_clean/Accident.csv...
    -> Writing 12 rows to stg.accident...
  SUCCESS: stg.accident created.
  Loading ../data/tri_guard_5_py_clean/Policyholder.csv...
    -> Writing 13965 rows to stg.policyholder...
  SUCCESS: stg.policyholder created.
  Loading ../data/tri_guard_5_py_clean/Vehicle.csv...
    -> Writing 18000 rows to stg.vehicle...
  SUCCESS: stg.vehicle created.
  Loading ../data/tri_guard_5_py_clean/Driver.csv...
    -> Writing 15190 rows to stg.driver...
  SUCCESS: stg.driver created.

--- Data loading process finished. ---

In [ ]:
# --- 4. Verification Step ---
print("\nVerifying data in stg.claim...")
try:
    # Use pandas read_sql to query the table we just created
    df_check = pd.read_sql(
        f"SELECT * FROM {target_schema}.claim LIMIT 5", engine)
    print(f"Data successfully read from {target_schema}.claim:")

    # 'display()' is a richer way to show DataFrames in Jupyter
    display(df_check)

except Exception as e:
    print(f"Could not read from {target_schema}.claim. Error: {e}")

Verifying data in stg.claim...
Data successfully read from stg.claim:

,claim_number,subrogation,claim_est_payout,liab_prct,claim_date,claim_day_of_week,channel,zip_code,witness_present_ind,policy_report_filed_ind,in_network_bodyshop,accident_key,policyholder_key,vehicle_key,driver_key
0,6090851,1.0,3218.84,31.0,12/4/2016,Saturday,Broker,80040.0,Y,1.0,no,1.0,1.0,1.0,1.0
1,4653734,0.0,1338.52,34.0,4/25/2015,Wednesday,Phone,80030.0,N,1.0,yes,1.0,2.0,2.0,2.0
2,1014777,0.0,3540.05,39.0,6/22/2015,Thursday,Broker,50012.0,N,1.0,yes,2.0,3.0,3.0,3.0
3,8101873,1.0,1507.94,32.0,3/2/2015,Saturday,Phone,20138.0,N,1.0,yes,2.0,4.0,4.0,4.0
4,5081870,0.0,5080.63,28.0,1/12/2016,Sunday,Online,50033.0,N,0.0,yes,3.0,5.0,5.0,5.0